*{
  font-family: 'Baloo Bhaijaan 2', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
   
}
a {
  text-decoration: none !important;
}